* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

ul {
    list-style: none;
}

div.wrap {
    margin: 0 auto;
    width: 688px;
    text-align: center;
}

div.wrap > h2 {
    text-align: center;
}

div.wrap > form {
    text-align: left;
}

div.wrap > form >  ul.personalinfo > li {
    border: 1px solid #dddddd;
    height: 50px;
    line-height: 50px;
    padding-left: 12px;
    font-weight: bold;
}

div.wrap > form >  ul.personalinfo > li:not(:last-child) {
    border-bottom: none;
}

div.wrap > form >  ul.personalinfo > li > span {
    width: 110px;
    display: inline-block;
}

div.wrap > form >  ul.personalinfo > li > input[type = text] {
    border: none;
    height: 30px;
}

div.wrap > form >  ul.personalinfo > li > input[type = password] {
    border: none;
    height: 30px;
}

div.wrap > form >  ul.personalinfo > li > select {
    width: 102px;
    height: 38px;
    position: relative;
    top: 6px;
    -webkit-appearance: none;
    background-image: url("../images/Arrow_01.png");
    background-repeat: no-repeat;
    vertical-align: top;
    background-position: 65px center;
    padding-left: 10px;
}

div.wrap > form >  ul.personalinfo > li > input[type = checkbox] + span{
    display: inline-block;
    width: 32px;
    margin-right: 30px;
}

div.wrap > form >  ul.personalinfo > li > button {
    float: right;
    width: 80px;
    height: 26px;
    margin-top: 12px;
    margin-right: 12px;
    border: 1px solid #dddddd;
    background-color: #fafafa;
}

div.wrap > form >span.memberLicense {
    margin-top: 14px;
    margin-bottom: 10px;
    font-weight: bold;
    display: inline-block
}


div.wrap > form > iframe {
    width: 688px;
}

div.wrap > form > span.age {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #a00000;
    font-weight: bold;
    display: inline-block
}

div.wrap > form > ul#agree {
    border: 1px solid #dddddd;
    margin-top: 30px;
}

div.wrap > form > ul#agree > li:first-child {
    border-bottom: 1px solid #dddddd;
    height: 44px;
    line-height: 44px;;
}

div.wrap > form > ul#agree > li:first-child > input#totalAgree {
    margin-left: 20px;
}

div.wrap > form > ul#agree > li:first-child > input#totalAgree + span {
}

div.wrap > form > ul#agree > li {
    height: 38px;
    line-height: 38px;
    font-weight: bold;
}

div.wrap > form > ul#agree > li > span:first-child {
    margin-left: 20px;
    width: 260px;
    display: inline-block;
}

div.wrap > button.join {
    width: 236px;
    height: 66px;
    color: #fff;
    background-color: #191919;
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
    border: none;
}
